{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>tournament registration</title>

    <!-- Icons font CSS-->
    <link href="{% static '../static/vendor/mdi-font/css/material-design-iconic-font.min.css'%}" rel="stylesheet"
        media="all">
    <link href="{% static '../static/vendor/font-awesome-4.7/css/font-awesome.min.css'%}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{% static '../static/vendor/select2/select2.min.css'%}" rel="stylesheet" media="all">
    <link href="{% static '../static/vendor/datepicker/daterangepicker.css'%}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static '../static/css/reg-main.css'%}" rel="stylesheet" media="all">
</head>
<style>
    ::placeholder{color:gray; opacity: 70%;}

</style>
<body>
    {% if user.is_organizer %}
    <div class="page-wrapper bg-img-3 p-t-240 p-b-120">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Name</label>
                                    <div class="input--style-1">{{ form.name }}</div>

                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Game</label>
                                    <div class="input--style-1">{{ form.game }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Registration Starts</label>
                                    <div class="input--style-1" >{{ form.registration_starts }}</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Registration Ends</label>
                                    <div class="input--style-1" >{{ form.registration_ends }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Tournament Starts</label>
                                    <div class="input--style-1" >{{ form.tournament_starts }}</div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Tournament Ends</label>
                                    <div class="input--style-1" >{{ form.tournament_ends}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <label class="label">Logo</label>
                                <div class="input-group-icon" id="js-select-special">
                                    <div class="input--style-1" >{{ form.logo }}</div>
                                </div>
                                
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Prizepool</label>
                                    <div class="input--style-1" >{{ form.prizepool }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Sponsored by</label>
                                    <div class="input--style-1" >{{ form.sponsored_by }}</div>
                                </div>
                                <div class="input-group">
                                    <label class="label">Contact No</label>
                                    <div class="input--style-1" >{{ form.contact_no }}</div>
                                </div>
                                <div class="input-group">
                                    <label class="label">Contact Email</label>
                                    <div class="input--style-1" >{{ form.contact_email }}</div>
                                </div>
                               
                            </div>
                            <div class="col-2">
                                <div class="input-group">

                                    <label class="label">Description</label>
                                    <div class="input--style-1">{{ form.description}}</div>
                                </div>
                            </div>


                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <label class="label">banner</label>
                                <div class="input-group-icon" id="js-select-special">
                                    <div class="input--style-1">{{ form.banner }}</div>
                                </div>

                            </div>

                            <div class="col-2">
                                <button class="btn-submit m-b-0" type="submit">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static '../static/vendor/jquery/jquery.min.js'%}"></script>
    <!-- Vendor JS-->
    <script src="{% static '../static/vendor/select2/select2.min.js'%}"></script>
    <script src="{% static '../static/vendor/jquery-validate/jquery.validate.min.js'%}"></script>
    <script src="{% static '../static/vendor/bootstrap-wizard/bootstrap.min.js'%}"></script>
    <script src="{% static '../static/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js'%}"></script>
    <script src="{% static '../static/vendor/datepicker/moment.min.js'%}"></script>
    <script src="{% static '../static/vendor/datepicker/daterangepicker.js'%}"></script>

    <!-- Main JS-->
    <script src="{% static '../static/js/global.js'%}"></script>
    {% endif %}
</body>

</html>
<!-- end document-->