{% extends 'base.html' %}

{% block content %}
<style>
input[type=text] {
  width: 120px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: transparent;
 
}
input::placeholder{
  color: whitesmoke;
}
form{
  background: transparent;
}
input[type=text]:focus {
  width: 100%;
  background: transparent;
}
</style>

<tournaments-main>
  
  <div class="tournament-container">
    <form action = '{% url "search" %}' >

      <input type="text" name="search" placeholder="Search..">
    </form>
    <div class="orgo">

      {% if user.is_organizer %}
      {% if Hosted %}
      <a href="{% url 'tournament' tourna_id %}">Your tournament&gt;</a>
      {% else %}
      
      <a href="/tournament/new"">Register your tournament&gt;</a>
      {% endif %}
      {% endif %}

  </div>
  <br>
    <h3 style="color:white; position: absolute; left: 220px; text-decoration: none; font-size: 30px;">Registration started</h3>
    <br><br>
    <section class="card-list">
      {% for tournament in registers %}
      <article class="card">
        <header class="card-header">
          <br>
          <h2>{{tournament.name}}</h2>
          <br>
          <br>
          
          
          <p>Registration Started&nbsp;:&nbsp;{{tournament.registration_starts}}</p>
          <p>Registration Ends&nbsp;:&nbsp;{{tournament.registration_ends}}</p>
        </header>

        <div class="card-author">
          <a class="author-avatar" href="#">
            <img src="{{ tournament.logo.url }}" />
          </a>
        

          <div class="author-name">
            <div class="author-name-prefix">Orgonized by:</div>
            {{tournament.organizer}}
          </div>
        </div>
        <div class="tags">
          <a href=" {% url 'tournament' tournament.id %}">Details</a>
          {% if user.is_authenticated %}
          <a href="/register/">Register</a>
          {% else %}
          <a href="/login/">Register</a>
          {% endif %}
          
        </div>
      </article>
      {% endfor %}
     
    </section>
    <br><br>
    <h3 style="color:white; position: absolute; left: 220px; text-decoration: none; font-size: 30px;">Tournaments Started</h3>
    <br><br>
    <section class="card-list">
      {% for tournament in current %}
      <article class="card">
        <header class="card-header">
          <br>
          <h2>{{tournament.name}}</h2>
          <br>
          <br>
          

          <p>Tournament Started&nbsp;:&nbsp;{{tournament.tournament_starts}}</p>
          <p>Tournament Ends&nbsp;:&nbsp;{{tournament.tournament_ends}}</p>
        </header>

        <div class="card-author">
          <a class="author-avatar" href="#">
            <img src="{{ tournament.logo.url }}" />
          </a>
        

          <div class="author-name">
            <div class="author-name-prefix">Orgonized by:</div>
            {{tournament.organizer}}
          </div>
        </div>
        <div class="tags">
          <a href=" {% url 'tournament' tournament.id %}">Details</a>
          
          
        </div>
      </article>
      {% endfor %}

      

    



    </section>
    <br>
    <h3 style="color:white; position: absolute; left: 220px; text-decoration: none; font-size: 30px;">Future Tournaments</h3>
    <br><br>
    <section class="card-list">
      {% for tournament in future %}
      <article class="card">
        <header class="card-header">
          <br>
          <h2>{{tournament.name}}</h2>
          <br>
          <br>
          
          <p style="font-size: 17px;"></p>
          <p>Registration Starts&nbsp;:&nbsp;{{tournament.tournament_starts}}</p>
          <p>Registration Ends&nbsp;:&nbsp;{{tournament.tournament_ends}}</p>
        </header>

        <div class="card-author">
          <a class="author-avatar" href="#">
            <img src="{{ tournament.logo.url }}" />
          </a>
        

          <div class="author-name">
            <div class="author-name-prefix">Orgonized by:</div>
            {{tournament.organizer}}
          </div>
        </div>
        <div class="tags">
          <a href=" {% url 'tournament' tournament.id %}">Details</a>
         
        </div>
      </article>
      {% endfor %}

      

    



    </section>

  </div>

</tournaments-main>

{% endblock %}